.main__section {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 45px;

  @include on-tablet {
    margin-top: 33px;
  }

  @include on-pc {
    margin-top: 145px;
  }

  @include pading-inlain;

  gap: 55px;
  &__title {
    grid-column: span 2;

    &--item {
      font-family: $font-primary;
      font-weight: 700;
      font-size: 36px;

      line-height: 100%;

      text-align: center;

      @include on-tablet {
        font-size: 48px;
        text-align: left;
      }

      @include on-pc {
        font-size: 48px;
        text-align: left;
      }
    }
  }
  &__article {
    @include page-grid;

    padding-block: 55px 50px;
    &__photo {
      grid-column: span 2;

      margin-bottom: 20px;

      @include on-tablet {
        grid-column: span 6;
      }

      @include on-pc {
        grid-column: span 6;
      }
      &--item {
        max-width: 100%;
        height: auto;
      }
    }
    &__text {
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 6;
      }

      @include on-pc {
        grid-column: 8/13;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      &__date {
        display: flex;
        align-items: center;

        gap: 30px;
        &--item {
          font-family: $font-secondary;
          font-size: 14px;
          line-height: 100%;
        }
      }
      &--title {
        position: relative;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 28px;

        line-height: 100%;

        @include on-pc {
          font-size: 36px;
        }

        &::after {
          content: '';
          position: absolute;
          top: 40%;
          right: 1%;
          align-content: center;
          display: block;
          height: 10px;
          width: 10px;
          background-color: red;

          @include on-tablet {
            top: 40%;
            right: 60%;
          }

          @include on-pc {
            height: 15px;
            width: 15px;
            top: 40%;
            left: 80%;
          }
        }
      }
      &--item {
        font-family: $font-secondary;
        font-weight: 300;
        font-size: 16px;

        line-height: 150%;
        color: #4e4e4e;
      }
    }
  }
}

.bac-container {
  background: url('../images/photo--classick-romantick-on-phone.png') center
    no-repeat;
  margin: auto;
  height: 293px;
  align-content: end;

  @include on-tablet {
    background-size: 100%;
    row-gap: 40px;
    padding-bottom: 20px;
    height: 550px;
    background-image: url('../images/photo--classick-on--tablate.png');
  }

  @include on-pc {
    background-size: 100%;
    row-gap: 89px;
    padding-bottom: 50px;
    width: 1280px;
    height: 788px;
    background-image: url('../images/classic-and-romantic.png');
  }
}

.classic-romantic {
  padding-top: 50px;

  @include page-grid;

  @include on-tablet {
    padding-top: 250px;
  }

  &__article {
    box-shadow: 0 2px 0 0 #1a5a4c40;

    margin-inline: 20px;
    background-color: $c-white;
    grid-column: span 2;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-block: 20px;

    @include on-tablet {
      grid-column: 2 / -2;
      gap: 16px;
      padding-inline: 55px;
      padding-block: 45px 50px;
      margin: 0;
    }

    @include on-pc {
      grid-column: 4 / 10;
      padding-inline: 110px;
      padding-block: 45px 50px;
      margin: 0;
    }
    &__text {
      display: flex;
      gap: 70px;
      padding-inline: 30px;

      @include on-tablet {
        gap: 147px;
        padding-inline: 0;
      }

      @include on-pc {
        gap: 137px;
        padding-inline: 0;
      }
    }
    &__conteiner {
      &--title {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 28px;

        line-height: 100%;

        text-align: center;

        @include on-tablet {
          text-align: left;

          font-size: 36px;
        }

        @include on-pc {
          font-size: 36px;
          text-align: left;
        }
      }
    }
  }
}

.title {
  font-weight: 500;
  color: #687480;
}

.date {
  color: #1a5a4c;
  font-weight: 700;
}
