@import 'utils';
@import 'fonts';
@import 'typography';
@import 'header';
@import 'menu';
@import 'events';
@import 'gallery';
@import 'subscribe';
@import 'footer';

body {
  background: $c-gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}
