$c-gray: #eee;
$c-red: #f14a27;
$c-dark: #000;
$c-white: #fff;
$c-green: #1a5a4c;
$on-tablet-min-width: 568px;
$on-pc-min-width: 1080px;
$font-primary: Montserrat, sans-serif;
$font-secondary: 'IBM Plex Sans', sans-serif;
$flax-gap-in-footer: 15px;
$hight-bilet: 70px;
